{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <div class="create-formu">
                <h2>First stage:</h2>
                <h3>Objective:</h3>
                <h5>You should run a command that returns the area of the second numquartie from the quartiers_cada table, as a numerical value</h5>

                <form action="{% url 'first_stage_output_query' %}" method="POST">
                    {% csrf_token %}
                    <div class="input" style="height:25px;">
                        {{ form }}
                    </div>
                    <input type="submit" value="Submit" style="height:25px; width: 75px;">
                </form>
                <form action="{% url 'delete_schema' %}" method="POST">
                    {% csrf_token %}
                    <div class="input" style="height:25px;">
                        <input type="submit" value="Exit game" style="height:25px; width: 75px;">
                    </div>                    
                </form>
            </div>
            <div>
                <input id="order" name="order" type="hidden" value="Successfully completed.">
            </div>
        </div>

    </body>
</html>
{% endblock %}