<!DOCTYPE html>
<html lang="en">

<head>
    <h1>Proof of concept:</h1>
</head>
    <body>

        {% block content %}
        <div class="create-contenedor">
            <div class="create-formu">
                <h3>geoSQL Engine tool:</h3>
                <form action="{% url 'output_query' %}" method="POST">

                    {% csrf_token %}
                    <div class="input" style="height:25px;">
                        {{ form }}
                    </div>
                    <input type="submit" value="Submit" style="height:25px; width: 75px;">
                </form>
            </div>
            <div>
                <input id="order" name="order" type="hidden" value="Your order has been successfully completed.">
            </div>
        </div>
        {% endblock %}

    </body>
</html>
