{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="create-contenedor">
            <div class="create-formu">
                <h3>geoSQL Engine tool:</h3>
                <form action="{% url 'output_query' %}" method="POST">

                    {% csrf_token %}
                    <div class="input" style="height:25px;">
                        {{ form }}
                    </div>
                    <input type="submit" value="Submit" style="height:25px; width: 75px;">
                </form>
                <form action="{% url 'delete_schema' %}" method="POST">
                    {% csrf_token %}
                    <div class="input" style="height:25px;">
                        <input type="submit" value="Exit game" style="height:25px; width: 75px;">
                    </div>                    
                </form>
            </div>
            <div>
                <input id="order" name="order" type="hidden" value="Your order has been successfully completed.">
            </div>
        </div>

    </body>
</html>
{% endblock %}